.header {
    text-align: center;
    font-size: 90px;
    background-color: green;
    margin: 30px;
}

.recipes {
    background-color: red;
    font-size: 50px;
    margin: 50px;
    height: 700px;;
}

.asparagus {
    height: 400px;
    width: auto;
    margin: 20px 30px;
    background-color: aqua;
    padding: 10px;
    display: inline-block;
}

.image {
    height: 400px;
}   

.paragraph {
    font-size: xx-large;
    background-color: gray;
    margin: 20px;
    padding: 10px;
    width: 360px;
    height: 400px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

ul {
    margin: 20px auto;
    padding: 50px;
}

li {
    padding: 15px;
    background-color: pink;
    text-align: center;
    width: 50%;
    list-style: none;
    margin-top: 10px;
    margin-left: 20%;;

}

.recipelist {
    padding: 10px;
    margin: 15px;
    display: block;
}

.recipelist2 {
    text-align: center;
    width: 75%;
    margin: 75px;
}

h3 {
    text-align: center;
}

.ingredients {
    display: inline-block;
    width: 49%;
    background-color: blueviolet;
    vertical-align: top;
    height: 550px;
}

.steps {
    display: inline-block;
    width: 49%;
    background-color: blue;
    vertical-align: top;
    height: 550px;
}