.header {
    text-align: center;
    font-size: 90px;
    background-color: green;
}

.recipes {
    background-color: red;
    font-size: 50px;
}

.image {
    height: 300px;
    width: auto;
}

p {
    font-size: xx-large;
    background-color: gray;
}

ul {
    display: flex;
    margin: 20px auto;
    padding: 60px;
}

li {
    padding: 15px;
}